doctype html
html
    head
        title= title
        meta(charset='utf-8')
        meta(name='viewport',content='width=device-width,initial-scale=1,user-scalable=no;')
        link(rel='stylesheet', href='/stylesheets/index.css')

        script(src="/javascripts/lib/zepto/zepto.js")
        script(src="/javascripts/lib/zepto/zepto.all.js")
        script(src='/javascripts/plugin/zepto.bc.js')
    body
      div#container(style="")
          form
            input(type='text' name='money' id='money')
            canvas#panel(style='width:100%;') 您的浏览器不支持canvas
      script(src='/javascripts/plugin/rem.js')
      script(src='javascripts/i.js')
