@font-face{
  font-family: HelveticaNeue-Bold;
  src: url('../fonts/HelveticaNeue-Bold.ttf');
  font-weight:700;
  font-style:normal;
}
@import "tools.less";
body{
  padding:0;
  margin:0;
  background:#eeeeee;
  .alertLayer{
     border:1px solid #dddddd;
     .radius();
     opacity:0;
     margin:0 auto;
     position: relative;
     display:none;
     width:5rem;
     height:1.5rem;
     line-height:2;
     transition:all 1s linear;
     -webkit-transition:all .5s linear;
  }
  #container{
    background:#ffffff;
    font-family:HelveticaNeue-Bold,SimHei,Arial;
    width:20rem;
    position: relative;
    padding-top:1rem;
    form{
      input{
        display:block;
        margin:0 auto;
        border:none;
        height:2rem;
        width:6rem;
        border-bottom:1px solid #eaeaea;
        font-size:1.6rem;
        text-align:center;
        color:#e73c47;
        font-family:HelveticaNeue-Bold,SimHei,Arial;
        -webkit-font-smoothing:antialiased
      }
      canvas{
        height:3rem;
        font-family:HelveticaNeue-Bold,SimHei,Arial;
        -webkit-font-smoothing:antialiased
      }
      span.icon-bi{
        display:block;
        position:relative;
        top:-.5rem;
        margin:0 auto;
        background:url("icon/icon-bi.png") no-repeat 0 0 scroll;
        background-size: 100%;
        width:1.1rem;
        height:1.1rem;
      }
    }
    #slider_wrap{
      width:20rem;
      overflow:hidden;
      #slider{
        width:152rem;
        height:4rem;
        overflow:hidden;
        list-style:none;
        padding:0;
        margin:0;
        li{
          float:left;
          width:4rem;
          height:4rem;
          line-height:4rem;
          font-size: 1rem;
          text-align:center;
          color:#999999;
        }
        li.active{
          color:#e73c47;
        }
      }
    }
    .profitlist_wrap{
      width:20rem;
      overflow:hidden;
      ul#profitlist{
        margin: 0;
        padding:0;
        list-style:none;
        height:4rem;
        li{
          float:left;
          width:6.6rem;
          height:4rem;
          line-height:4rem;
          text-align:center;
        }
        li.active{
          color:#e73c47;
        }
      }
      ul.trans{
        transition:margin-left .2s linear 0s;
        -webkit-transition:margin-left .2s linear 0s;
        -ms-transition:margin-left .2s linear 0s;
        -moz-transition:margin-left .2s linear 0s;
      }
    }
    div.title{
      width:6rem;
      margin:0 auto;
      .flexbox();
      span.icon-money{
        display:block;
        margin-top:0.2rem;
        width:0.75rem;
        height:0.625rem;
        background:url("icon/icon-money.png") no-repeat 0 0 scroll;
        background-size: 100% 100%;
      }
      span.icon-date{
        display:block;
        margin-top:0.125rem;
        width:0.75rem;
        height:0.75rem;
        background:url("icon/icon-date.png") no-repeat 0 0 scroll;
        background-size: 100%;
      }
      span.icon-rate{
        display:block;
        margin-top:0.125rem;
        width:0.75rem;
        height:0.75rem;
        background:url("icon/icon-rate.png") no-repeat 0 0 scroll;
        background-size: 100%;
      }
      span.text{
        font-size: 0.75rem;
        color:#e73c47;
      }
    }
    .datelist{
      overflow:hidden;
      padding:0;
      margin:0;
      text-decoration: none;
      list-style: none;
      li{
        width:33%;
        text-align:center;
        float:left;
        height:3.5rem;
        line-height:1.5;
      }
    }

  }
}
.footer{
  padding: 0 1rem 1rem 1rem;
  background:#eeeeee;
  font-family:HelveticaNeue-Bold,SimHei,Arial;
  .backtype{
    overflow:hidden;
    padding:1rem .5rem 0 .5rem;
    .btn{
      display:block;
      width:7.5rem;
      height:2.25rem;
      line-height:2.25rem;
      background:#ffffff;
      float:left;
      border:1px solid #b8b8b8;
      .radius(2rem);
      font-size: .7rem;
      color:#b8b8b8;
      text-align:center;
      padding:0;
      -webkit-tap-highlight-color:rgba(0,0,0,0);
      text-decoration: none;
    }
    .btn.active{
      color:#00b8c3;
      border-color:#00b8c3;
    }
    .btn:first-child{
      margin-right: 1.5rem;
    }
  }
  .result{
    padding:1rem 0;
    margin:0;
    overflow:hidden;
    list-style:none;
    li{
      width:8rem;
      float:left;
      position:relative;
      text-align:center;
    }
    li:first-child{
      margin-right: 1rem;
    }
    #result1{
      .up{
        span{
          font-size: 1.325rem;
        }
      }
      i{
        display:none;
        width:.25rem;
        height:.25rem;
        border:1px solid #e73c47;
        .radius(.25rem);
        background:#e73c47;
      }
      p{
        clear:both;
        font-size: .5rem;
        width : 100%;
        display:block;
        color:#bbbbbb;
        line-height:.9rem;
        margin:0;
      }
    }
    #result2{
      .up{
        span{
          font-size: 1.325rem;
        }
      }
      i{
        display:none;
        width:.25rem;
        height:.25rem;
        border:1px solid #00b8c3;
        .radius(.25rem);
        background:#00b8c3;
      }
      p{
        clear:both;
        font-size: .5rem;
        width : 100%;
        display:block;
        color:#bbbbbb;
        line-height:.9rem;
        margin:0;
      }

    }
  }
  .btn-ck{
    display:block;
    height:2.8rem;
    width:18rem;
    line-height:2.8rem;
    color:#ffffff;
    font-size: 1rem;
    .radius(.5rem);
    background:#e73c47;
    text-align:center;
    text-decoration: none;
  }
}
#plan{
  background:#eeeeee;
  .backtype{
    font-size: 0.9em;
    padding:1rem;
    .flexbox();
    .icon-help{
      width:1.3rem;
      height:1.3rem;
      background:url("icon/icon-help.png") no-repeat 0 0 scroll;
      background-size : 100%;
      margin-left: 0.5rem;
    }
    border-bottom:1px solid #d2d1d6;
  }
  .planlist{
    list-style:none;
    margin:0;
    padding:0;

    li{
      padding:1rem 0;
      border-bottom:1px solid #d2d1d6;
      dl{
        overflow:hidden;
        margin:0;
        padding:0;
        dt{
          width:18rem;
          font-size: .8rem;
          margin-left: 1rem;
          color:#666666;
          span{
            color:#333333;
          }
        }
        dd{
          width:8rem;
          font-size: 0.8rem;
          margin-left: 1rem;
          float:left;
          color:#666666;
          span{
            color:#333333;
          }
        }
        dd:last-child{
          width:18rem;
        }
      }
    }

  }
}
#layer{
  display:none;
  position:absolute;
  top:0;
  z-index:3;
  section{
    padding-top:2rem;
    width:20rem;
    h3{
      width:16rem;
      margin:0;
      padding:0 2rem;
      font-size: 0.9rem;
      color:#666666;
    }
    p{
      width:16rem;
      margin:0;
      padding:0 2rem;
      font-size: 0.9rem;
      color:#666666;
    }
  }
  a.btn-close{
    width:3rem;
    height:3rem;
    position:absolute;
    bottom:3rem;
    left:8.5rem;
    background:url("icon/icon-close.png") no-repeat 0 0 scroll;
    background-size:100%;
  }
}
.coverLayer{
  display:none;
  position:absolute;
  top:0;
  background:rgba(255,255,255,0.9);
  width:100%;
  height:100%;
  z-index:2;
}